﻿@model DJHSTAR_Server_Hosting.Models.events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfEventCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfEventCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_status.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_status.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated)
        </dd>
    </dl>
</div>

<div>
    <h4>comments</h4>
    <hr />

    @foreach (var item in Model.t_comments) {
        <dl class="dl-horizontal">
            <dt>
                Comment
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => item.dateOfComment)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.dateOfComment)
            </dd>
        </dl>
    }
    </div>


    <div>
        <h4>fix</h4>
        <hr />

        @foreach (var item2 in Model.t_fix) {
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(modelItem => item2.startDateTimeOfFix)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item2.startDateTimeOfFix)
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => item2.endDateTimeOfFix)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item2.endDateTimeOfFix)
                </dd>
            </dl>
        }
        </div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
