﻿@model DJHSTAR_Server_Hosting.Models.comments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOfComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_events.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_events.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
