﻿@model IEnumerable<DJHSTAR_Server_Hosting.Models.comments>

@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.t_events.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.t_events.title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
