﻿@model IEnumerable<DJHSTAR_Server_Hosting.Models.events>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A short list of events for server hosting website</title>
</head>
<body>
    <div>
    <h2>DJHSTAR - Events</h2>

        <table class="table">
            @if (Model.ToList().Count == 0)
            {
                <tr>
                    <td>
                        <p style="font-size:300%">
                            No Resolved Issues
                        </p>
                    </td>
                </tr>
            }
            else
            {
            <tr>
                <th>
                        Status
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.updated)
                </th>
            </tr>
            foreach (var item in Model) {
            <tr>
                <td>
                    <text style="color:@item.t_status.colourCode">
                          @Html.DisplayFor(modelItem => item.t_status.name)
                    </text>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated)
                </td>
            </tr>
            }
            }
        </table>

    </div>
</body>
</html>