﻿@model DJHSTAR_Server_Hosting.Models.status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colourCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colourCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colourName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colourName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
